<style type="text/css">
#milestonesHeader {
	font-size: 14px;
	font-weight: bold;
	margin-bottom:1em;
}

#milestones {
	margin: 0 35px 1em 35px;
}
	
.milestone {
	margin-bottom: 1em;
}

.milestone .msPercCompleted {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: Georgia;
	color: #fff;
	padding: 6px;
	background: #DE70AA;
	float: left;
	margin-right: 5px;
}

.milestone .msMeta {
	float: left;
	font-size: 10px;
}

.milestone .msDeadline {
	color: #666;
}

.milestone .msName {
	font-weight: bold;
	font-size: 12px;
	color: #C62D7D;
}

.milestone .msDescription {
	font-weight: normal;
	padding: 5px 0;
	color: #666;
}
</style>