{% extends "content.html" %}

{% block title %}Category Milestones - {{ block.super }}{% endblock %}

{% block navMenu %}
<ul id="navMenuList">
	<li><a href="{% url pm_overview category.id %}">Overview</a></li>
	<li><a href="{% url pm_tasks category.id %}">Tasks</a></li>
	<li><a href="{% url pm_thread category.id %}">Messages</a></li>
	<li><a href="{% url pm_milestones category.id %}" class="current">Milestones</a></li>
</ul>
{% endblock %}

{% block content %}
<style type="text/css">
	.milestone {
		margin-bottom: 1em;
		background: #f0f0f0;
		padding: 10px;
	}
	
	.milestone .msName {
		float: left;
		font-weight: bold;
		font-size: 12px;
	}
	
	.milestone .msDeadline {
		float: right;
		font-weight: bold;
		font-size: 12px;
		color: #f00;
	}
	
	.milestone .msDescription {
		clear: both;
		padding-top: 5px;
		color: #666;
	}
</style>
<table cellspacing="0" id="overviewContainer">
	<tr>
		<td style="vertical-align: top;">
			<div id="milestones">
				{% for milestone in category.milestone_set.all %}
					<div id="milestone{{ milestone.id }}" class="milestone">
						<div class="msName">{{ milestone.name }}</div>
						<div class="msDeadline">{{ milestone.days_remaining.days }} day{% ifnotequal milestone.days_remaining.days 1 %}s{% endifnotequal %} remaining ({{ milestone.deadline|date:"Y-m-d" }})</div>
						<div class="msDescription">{{ milestone.description }}</div>
					</div>
				{% endfor %}
			</div>
		</td>
		<td style="vertical-align: top;">
			<div id="manage">
				<div class="addMilestoneContainer">
					<div class="addHeader">Add Milestone</div>
					{% include "addmilestone.html" %}
				</div>
			</div>
		</td>
	</tr>
</table>
{% endblock %}