<style type="text/css">
.milestonesContainer {
	margin-left: 25px;
}

.milestonesHeader {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 4px;
	border-bottom: 1px solid #f0f0f0;
}

.milestonesActiveHeader {
}

.milestonesComplete {
}

.milestonesOnHoldHeader {
}

.milestones {
	margin: 0 35px 1em 35px;
}

.milestone {
	margin-bottom: 1em;
}

.milestonesActive {
}

.milestonesComplete {
}

.milestonesOnHold {
}
	
.milestoneOverview {
	margin-bottom: 1em;
}

.milestoneOverview .msPercCompleted {
	border: 2px solid #000;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: Georgia;
	color: #fff;
	padding: 8px;
	float: left;
	width: 75px;
	margin-right: 5px;
}

.msMeta {
	float: left;
	font-size: 10px;
}

.milestoneOverview .msDeadline {
	color: #666;
}

.milestoneOverview .msName {
	font-weight: bold;
	font-size: 12px;
	color: #C62D7D;
}

.milestoneOverview .msDescription {
	padding: 5px 0;
	color: #666;
}

.milestoneComplete .msPercCompleted {
	border: 2px solid #000;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	font-family: Georgia;
	color: #fff;
	padding: 6px;
	float: left;
	margin-right: 5px;
}

.milestoneComplete .msName {
	font-weight: bold;
	color: #c62d7d;
}

.milestoneComplete .msDescription {
	padding: 5px 0;
	color: #666;
}

.milestoneComplete .msDeadline {
	color: #aaa;
}

.milestoneOnHold .msPercCompleted {
	border: 2px solid #000;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	font-family: Georgia;
	color: #fff;
	padding: 4px;
	float: left;
	width: 50px;
	margin-right: 5px;
}

.milestoneOnHold .msName {
	font-weight: bold;
	color: #c62d7d;
}

.milestoneOnHold .msDescription {
	padding: 5px 0;
	color: #666;
}

.milestoneOnHold .msDeadline {
	color: #aaa;
}

.msName a, .msName a:active, .msName a:hover, .msName a:visited {
	/*color: #C62D7D;*/
}
</style>
