{% extends "content.html" %}
{% load custom_tags %}

{% block title %}Overview - {{ block.super }}{% endblock %}

{% block content %}
<table cellspacing="0" id="overviewContainer">
	<tr>
		<td style="vertical-align: top;">
			<div id="account" rel="{{ request.account.id }}">
				<div id="projects">
					{% for project in request.account.project_set.all %}
					<div id="project{{ project.id }}" rel="{{ project.id }}" class="project">
						<h1><a href="{% url pm_delproject project.id %}"><img src="/site_media/images/report_delete.gif" alt="Delete Project"/></a> <a href="{% url pm_view project.id %}"><span class="projectName" rel="name">{{ project.name }}</span></a></h1>
						<div class="projectDescription" rel="description">{{ project.description }}</div>
						{% show_history project %}
					</div>
					{% endfor %}
				</div>
			</div>
		</td>
		<td style="vertical-align: top;">
			<div id="manage">
				<div class="addProjectContainer">
					<div class="addHeader">Add Project</div>
					{% include "addproject.html" %}
				</div>
				<div class="loadContainer">
					<div class="addHeader">Load From XML</div>
					{% include "load.html" %}
				</div>
			</div>
		</td>
	</tr>
</table>
{% endblock %}
