{% extends "content.html" %}
{% load custom_tags %}

{% block title %}Category Overview - {{ block.super }}{% endblock %}

{% block navMenu %}
<ul id="navMenuList">
	<li><a href="{% url pm_overview category.id %}" class="current">Overview</a></li>
	<li><a href="{% url pm_tasks category.id %}">Tasks</a></li>
	<li><a href="{% url pm_thread category.id %}">Messages</a></li>
	<li><a href="{% url pm_milestones category.id %}">Milestones</a></li>
</ul>
{% endblock %}

{% block content %}
<style type="text/css">
	.date {
		margin-bottom: 25px;
		border-top: 2px solid #eee;
	}
	
	.date .dateInnerContainer {
		margin-left: 20px;
	}
	
	.date .dateHeader {
		font-weight: bold;
		color: #444;
		margin: 2px 0 10px 2px;
		font-size: 12px;
	}
	
	.item {
		margin: 2px 0;
	}
	
	.item .itemType {
		background: #76c;
		font-weight: bold;
		color: #fff;
		float: left;
		margin-right: 5px;
		padding: 5px;
		width: 50px;
		text-align: center;
	}
	
	.item .itemStamp {
		color: #888;
		float: left;
		margin-right: 5px;
		padding-top: 4px;
		width: 65px;
	}
	
	.item .itemText {
		float: left;
		padding-top: 4px;
	}
	
	.item .itemProject {
		font-weight: bold;
	}
	
	.itemType.completed {
		background: #696;
	}
	
	.itemText.completed {
		text-decoration: line-through;
	}
</style>
{% for datelist in items %}
	<div class="date">
		<div class="dateHeader">{{ datelist.0 }}</div>
		<div class="dateInnerContainer">
			{% for e in datelist.1 %}
				{% ifequal e.1 'todo' %}
					<div class="item floatContainer">
						<div class="itemType{% if e.2.completed %} completed{% endif %}">{{ e.1 }}</div>
						<div class="itemStamp">{{ e.0 }}</div>
						<div class="itemText{% if e.2.completed %} completed{% endif %}">{{ e.2.item }} (<span class="itemProject">{{ e.2.project.name }}</span>)</div>
					</div>
				{% endifequal %}
				{% ifequal e.1 'message' %}
				{% endifequal %}
			{% endfor %}
		</div>
	</div>
{% endfor %}
{% endblock %}