{% if todos.count %}
	{% for todo in todos %}
		<li id="todo{{ todo.id }}" rel="{{ todo.id }}" class="todo{% if todo.complete %} complete{% endif %}">
			<div class="floatContainer">
			<div class="control">
				<div class="icons">
					{% if not todo.complete %}
					<span class="handle"><img src="/site_media/images/list_ordered.gif"/></span>
					{% endif %}
					<a href="javascript:;" class="deleteLink"><img src="/site_media/images/trash.gif"/></a>
				</div>
				<div class="completeInput">
					<input type="checkbox" autocomplete="off" class="completeLink" {% if todo.complete %}checked{% endif %}>
				</div>
			</div>
			<div class="item">{{ todo.item }}</div>
			<div class="created">({% if todo.complete %}{{ todo.completed|date:"Y-m-d g:ia" }}{% else %}{{ todo.age.days }} days{% endif %})</div>
			</div>
		</li>
	{% endfor %}
{% endif %}