{% extends "category.html" %}
{% load custom_tags %}

{% block title %}Tasks - {{ block.super }}{% endblock %}

{% block content %}
<table cellspacing="0" id="overviewContainer">
	<tr>
		<td style="vertical-align: top;">
			<div id="account" rel="{{ request.account.id }}">
				<div id="categories">
					<a name="category{{ category.id }}"></a>
					<div id="category{{ category.id }}" rel="{{ category.id }}" class="category">
						<div class="projects">
							{% for project in category.project_set.all %}
								<a name="project{{ project.id }}"></a>
								<div id="project{{ project.id }}" rel="{{ project.id }}" class="project">
									<h2><a href="{% url pm_delproject project.id %}"><img src="/site_media/images/folder_delete.gif" alt="Delete Project"/></a> <span class="projectName" rel="name">{{ project.name }}</span></h2>
									<div class="projectDescription" rel="description">{{ project.description }}</div>
									<ul class="tasks tasks_active">
										{% show_tasks project %}
									</ul>
									<div class="addTaskContainer">
										<a href="javascript:;" class="showAddTaskLink">Add Task</a>
									</div>
									<ul class="tasks tasks_completed">
										{% show_tasks project 1 %}
									</ul>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</td>
		<td style="vertical-align: top;">
			<div id="manage">
				<div class="addProjectContainer">
					<div class="addHeader">Add Project</div>
					{% include "addproject.html" %}
				</div>
				<div class="links">
					<div class="addHeader">Quick Links / Re-order</div>
					<ul class="categoryLinks" rel="category">
						<li class="categoryLink" rel="{{ category.id }}"><span class="handle"><img src="/site_media/images/list_ordered.gif"/></span> <a href="#category{{ category.id }}">{{ category.name }}</a>
							<ul class="projectLinks" rel="project">
							{% for project in category.project_set.all %}
								<li class="projectLink" rel="{{ project.id }}"><span class="handle"><img src="/site_media/images/list_ordered.gif"/></span> <a href="#project{{ project.id }}">{{ project.name }}</a></li>
							{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</td>
	</tr>
</table>
<div id="addTaskTemplateContainer" style="display: none;">
	{% include "addtask.html" %}
</div>
{% endblock %}