{% extends "content.html" %}

{% block title %}Category Tasks - {{ block.super }}{% endblock %}

{% block navMenu %}
<ul id="navMenuList">
	<li><a href="{% url pm_view category_id=category.id %}">Overview</a></li>
	<li><a href="{% url pm_tasks category_id=category.id %}" class="current">Tasks</a></li>
	<li><a href="{% url pm_thread "c",category.id %}">Messages</a></li>
	<li><a href="">Milestones</a></li>
</ul>
{% endblock %}

{% block content %}
{% for todo in todos %}
	{% if not todo.complete %}
		<div>{{ todo.item }}</div>
	{% endif %}
{% endfor %}
{% endblock %}