{% extends "content.html" %}

{% block title %}View Thread - {{ block.super }}{% endblock %}

{% block navMenu %}
<ul id="navMenuList">
	<li><a href="{% url pm_view category.id %}">Overview</a></li>
	<li><a href="{% url pm_tasks category.id %}">Tasks</a></li>
	<li><a href="{% url pm_thread category.id %}" class="current"">Messages</a></li>
	<li><a href="">Milestones</a></li>
</ul>
{% endblock %}

{% block content %}
<form method="post" action="{% url thread_post %}">
	<input type="hidden" name="thread" value="{{ thread.id }}"/>
	{{ msg_form.text }}
	<input type="submit" value="Post"/>
</form>

<div id="thread{{ thread.id }}" class="thread">
	{% for msg in thread.message_set.all %}
		<div id="message{{ msg.id }}" class="message">{{ msg.text }}</div>
	{% endfor %}
</div>
{% endblock %}
