<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}pm{% endblock %}</title>
	<script type="text/javascript" language="javascript" src="/site_media/js/jquery.min.js"></script>
	<script type="text/javascript" language="javascript" src="/site_media/js/jquery-ui.min.js"></script>
	<script type="text/javascript" language="javascript" src="/site_media/js/jquery.editable.js"></script>
	<script type="text/javascript" language="javascript" src="/site_media/js/default.js"></script>
	<link rel="stylesheet" type="text/css" href="/site_media/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/site_media/css/default.css">
	<link rel="stylesheet" type="text/css" href="/site_media/css/form.css">
</head>
<body>
	<div id="header">
		<div id="left">
			<a href="/">Home</a> | <a href="http://blog.perplexedlabs.com/">Blog</a> | {% if request.user.is_authenticated %}<a href="/logout">Logout</a> | <a href="/pm/overview">Overview</a>{% else %}<a href="/login">Login</a> | <a href="/pm/create">Create</a>{% endif %}
		</div>
		<div id="right">
			<img src="/site_media/images/plabs_logo.gif" alt="Perplexed Labs, Inc."/>
		</div>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-69624-4");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>