<form method="POST" action="{% url login %}">
    <fieldset>
        <legend>Login</legend>
        <div>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" class="text"/>
        </div>
        <div>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" class="password"/>
        </div>
        <div>
        <input type="checkbox" name="remember" value="1"/> Remember Me<br/>
        </div>
        <div class="submit">
            <input type="submit" value="Login">
        </div>
    </fieldset>
</form>
