body {
	font-size: 10px;
	font-family: Verdana, sans-serif;
	margin: 0 !important;
	padding: 0 !important;
	background: #4b4b4b;
}

body * {
	margin: 0;
	padding: 0;
}

a img {
	border: none;
}

a {
	/*text-decoration: none;*/
}

a:link, a:visited, a:active {
	color: #39c;
}

a:hover {
	color: #6cf;
}

.floatContainer:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header {
	background: #7c7c7c;
	height: 34px;
	border-bottom: 1px dotted #000;
	color: #aaa;
	font-family: Arial;
	font-size: 12px;
	padding: 0 5px 0 10px;
}

#header #left {
	float: left;
	display: block;
	padding-top: 10px;
}

#header #right {
	float: right;
}

#header a:link, #header a:visited, #header a:active {
	color: #fff;
}

#header a:hover {
	color: #6cf;
}

#contentContainer {
	width: 980px;
	margin: 10px auto;
	padding: 0px;
	background: #fff;
	border: 1px solid #666;
}

#banner {
	padding: 5px;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial;
	background: #f0f0f0;
}

#content {
	padding: 10px;
}

.accountDescription {
	color: #888;
}

.projectDescription {
	color: #888;
}

.categoryDescription {
	color: #888;
	margin-bottom: 8px;
}

#projects h1 {
	font-size: 1.75em;
	font-weight: bold;
	color: #3179F0;
	line-height: 1.3em;
}

#projects h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #039;
	margin: 5px 0 2px 0;
}

#projects li {
	padding-bottom: 6px;
	clear: both;
}

#projects {
	width: 668px;
}

.project {
	margin-bottom: 1em;
}

.category {
}

#manage {
	margin-left: 10px;
	border: 1px solid #ddd;
	width: 280px;
}

.categories {
	margin-left: 20px;
}

.todos {
	margin-left: 20px;
}

.handle {
	cursor: pointer;
}


.todos_active {
	font-size: 12px;
}

.todos_active .completeInput {
	padding-top: 0px;
}

.todos_completed {
	font-size: 10px;
}

.todo.complete {
	color: #aaa;
	padding-left: 13px;
}

.todos {
	list-style: none;
}

.todos .created {
	color: #ccc;
	float: right;
}

.todos .control {
	position: relative;
	top: 0;
	left: 0;
}

.todos_completed {
	margin-top: 5px;
}

.todos .icons {
	float: left;
	padding-right: 3px;
}

.todos .completeInput {
	float: left;
	padding-right: 4px;
}

.todos .item {
	float: left;
	margin-right: 2px;
}

.todos_active .item {
	width: 440px;
}

.todos_completed .item {
	width: 440px;
}

.todos .placeholder {
	color: #ccc;
}

#overviewContainer {
	width: 100%;
}

#manage {
	background: #f4f4f4;
}

.addTodoContainer {
	background: #f4f4f4;
}

.addProjectContainer, .addCategoryContainer, .addTodoContainer, .loadContainer, .links {
	padding: 5px;
}

.addHeader {
	font-weight: bold;
	margin-bottom: 5px;
	border-bottom: 1px dotted #aaa;
}

.descriptionEdit {
	width: 500px;
}

.links ul {
	margin-left: 20px;
}

.links li {
	line-height: 1.3em;
}

.links li.projectLink {
	font-weight: bold;
}

.links li.categoryLink {
	font-weight: normal;
}

.projectHistoryHeader {
	margin-top: 1em;
	font-weight: bold;
}

.projectHistory {
	width: 100%;
	font-size: 10px;
}

.projectHistory td {
	padding: 3px;
}

.historyLineEven {
	background: #f0f0f0;
}

.historyLineOdd {
	background: #fafafa;
}

.historyLineDate {
	font-weight: bold;
	color: #666;
}

.historyLineItem {
	color: #666;
}