body {
	font-size: 62.5%;
	font-family: Tahoma, sans-serif;
	margin: 0 !important;
	padding: 0 !important;
}

body * {
	margin: 0;
	padding: 0;
}

a img {
	border: none;
}

a {
	text-decoration: none;
}

a:link, a:visited, a:active {
	color: #39c;
}

a:hover {
	color: #6cf;
}

#header {
	padding: 5px;
	font-weight: bold;
	background: #06c;
	color: #fff;
}

#header a:link, #header a:visited, #header a:active {
	color: #fff;
}

#header a:hover {
	color: #6cf;
}

#content {
	width: 1080px;
	margin: 0 auto;
}

.accountDescription {
	color: #888;
}

.projectDescription {
	color: #888;
}

.categoryDescription {
	color: #888;
	margin-bottom: 5px;
}

#projects h1 {
	font-size: 1.5em;
	color: #000;
}

#projects h2 {
	font-size: 1.25em;
	color: #555;
	margin-top: 0.5em;
}

#projects li {
	font-size: 1.1em;
	font-weight: normal;
	height: 18px;
}

#projects {
	width: 800px;
}

.project {
	margin-bottom: 1em;
}

#manage {
	margin-left: 10px;
	border: 1px solid #ddd;
	width: 280px;
}

.categories {
	margin-left: 20px;
}

.todos {
	margin-left: 20px;
}

.handle {
	cursor: pointer;
}

.todo.complete {
	color: #aaa;
	padding-left: 13px;
}

.todos {
	list-style: none;
}

.todos .created {
	color: #aaa;
}

.todos .control {
	position: relative;
	top: 0;
	left: 0;
}

.todos_completed {
	margin-top: 5px;
}

.todos .icons {
	float: left;
	padding-right: 3px;
}

.todos .completeInput {
	float: left;
	padding-right: 4px;
}

.todos .item {

}

#overviewContainer {
	width: 100%;
}

.addProjectContainer, .addCategoryContainer, .addTodoContainer {
	background: #f4f4f4;
	padding: 5px;
}

.addHeader {
	font-weight: bold;
	margin-bottom: 5px;
	border-bottom: 1px dotted #aaa;
}