{% extends "base.html" %}

{% block title %}Add Project - {{ block.super }}{% endblock %}

{% block content %}
<div id="projects">
	{% for project in projects %}
		<div id="project{{ project.id }}" class="project">
			<h1><a href="{% url pm_delproject project.id %}">X</a> {{ project.name }}</h1>
			<div class="categories">
				{% for category in project.category_set.all %}
				<div id="category{{ category.id }}" rel="{{ category.id }}" class="category">
					<h2><a href="{% url pm_delcategory category.id %}">X</a> {{ category.name }}</h2>
					<ul class="todos">
						{% for todo in category.todo_set.all %}
							<li id="todo{{ todo.id }}" rel="{{ todo.id }}" class="todo {% if todo.complete %}complete{% endif %}">
								<div class="control">
									<span class="handle"><img src="/site_media/images/list_ordered.gif"/></span> 
									<a href="javascript:;" class="deleteLink"><img src="/site_media/images/trash.gif"/></a>
									<input type="checkbox" class="completeLink" {% if todo.complete %}checked{% endif %}>
								</div>
								<div class="item">
									{{ todo.item }} <span class="created">{{ todo.created }}</span>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
	</ul>
</div>
<script type="text/javascript" language="javascript">
jQuery(document).ready(function() {
		jQuery('.deleteLink').click(function() {
				var parent = jQuery(this).parent();
				jQuery.post('/pm/deltodo/'+parent.attr('rel')+'/', {}, function () {
						parent.slideUp('fast', function() {
							parent.remove();
						});
					});
			});
			
		jQuery('.completeLink').click(function() {
				var parent = jQuery(this).parent();
				var complete = (+jQuery(this).is(':checked'));
				jQuery.post('/pm/completetodo/'+parent.attr('rel')+'/'+complete+'/', {}, function() {
						if(complete) {
							parent.addClass('complete');
						} else {
							parent.removeClass('complete');
						}
					});
			});
			
		jQuery('.todos').sortable({
			handle: '.handle',
			update: function(event, ui) {
				var categoryParent = jQuery(ui.item).parents('.category');
				var order = jQuery.makeArray(
								jQuery.map(
									jQuery('li', categoryParent), 
										function(n) { return jQuery(n).attr('rel'); }
									));
				jQuery.post('/pm/prioritize/'+categoryParent.attr('rel')+'/', { 'order': order.join(',') }, function() {});
			}
		});
	});
</script>
{% endblock %}