{% extends "base.html" %}
{% load show_todos %}

{% block title %}Add Project - {{ block.super }}{% endblock %}

{% block content %}
<div id="projects">
	{% for project in projects %}
		<div id="project{{ project.id }}" class="project">
			<h1><a href="{% url pm_delproject project.id %}">X</a> {{ project.name }}</h1>
			<div class="categories">
				{% for category in project.category_set.all %}
				<div id="category{{ category.id }}" rel="{{ category.id }}" class="category">
					<h2><a href="{% url pm_delcategory category.id %}">X</a> {{ category.name }}</h2>
					<ul class="todos">
						{% show_todos category %}
					</ul>
					<div class="addTodoContainer">
						<a href="javascript:;" class="showAddTodoLink">Add Todo</a>
					</div>
					<ul class="todos todos_completed">
						{% show_todos category 1 %}
					</ul>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>
<div id="addTodoTemplateContainer" style="display: none;">
	{% include "addtodo.html" %}
</div>
{% endblock %}