{% extends "base.html" %}

{% block title %}Add Project - {{ block.super }}{% endblock %}

{% block content %}
<div id="projects">
	{% for project in projects %}
		<div id="project{{ project.id }}" class="project">
			<h1><a href="{% url pm_delproject project.id %}">X</a> {{ project.name }}</h1>
			<div class="categories">
				{% for category in project.category_set.all %}
				<div id="category{{ category.id }}" rel="{{ category.id }}" class="category">
					<h2><a href="{% url pm_delcategory category.id %}">X</a> {{ category.name }}</h2>
					<ul class="todos">
						{% for todo in category.todo_set.all %}
							<li id="todo{{ todo.id }}" rel="{{ todo.id }}" class="todo {% if todo.complete %}complete{% endif %}">
								<div class="control">
									<span class="handle"><img src="/site_media/images/list_ordered.gif"/></span> 
									<a href="javascript:;" class="deleteLink"><img src="/site_media/images/trash.gif"/></a>
									<input type="checkbox" autocomplete="off" 
										class="completeLink" {% if todo.complete %}checked{% endif %}>
								</div>
								<div class="item">
									{{ todo.item }} <span class="created">{{ todo.created }}</span>
								</div>
							</li>
						{% endfor %}
					</ul>
					<div class="addTodoContainer">
						<a href="javascript:;" class="showAddTodoLink">Add Todo</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>
<div id="addTodoTemplateContainer" style="display: none;">
	{% include "addtodo.html" %}
</div>
{% endblock %}